

html, body, #root {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 30px;
}

.document {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	align-items: center;
	width: 250px;
	padding: 10px 20px;
	background-color: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4rem;
}

.element {
	display: flex;
	width: 100%;
	flex-direction: column;

	.name {
		width: 100%;
		word-wrap: break-word;
	}
}

.form {
	display: flex;
	flex-direction: column;
}



.Field {
	margin-top: 20px;

	*:focus {
    	outline: none;
	}

	input {
		height: 30px;
		min-width: 200px;
		padding-left: 10px;
		border: none;
		border-bottom: 1px solid gray;
		color: gray;

		&:focus {
			border-bottom: 1px solid plum;
		}
	}
}

.error {
	font-size: 10px;
	color: red;
	margin-top: 2px;
	text-transform: uppercase;
}

button {
	height: 30px;
	margin-top: 5px;
}

.oneline {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	border-top: 2px dashed gray;
}

.left {
	align-self: flex-start;
}

.right {
	align-self: flex-end;
}